<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Time Today</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="wrapper clearfix">
            <h1>Time is limited, spend it wisely.</h1>
            <section id="expected">
                <h2>How do you plan to spend your day?</h2>
                <input id="new-todo" name="input" placeholder="Type here something you'll do">
                <label class="question" for="hours">For how long (hours)?</label>
                <div class="range">
                    <input id="expected-time" type="range" name="range" min="0" max="10" step="0.5">
                    <output class="rangeOutput" for="range"></output>
                </div>
                <button class="saveTask">Save</button>
                <ol id="todo-list"></ol>
            </section>

            <section id="real">
                <h2>How did you actually spend it?</h2>
                <ol id="todo-list-copy"></ol>
            </section>

<!--             <a class="resultDisplay" href="#">Show me the result</a>
            <section id="result">
                <h2>Results</h2>
                <canvas id="myChart" width="800" height="300"></canvas>
            <div class="subtitles">
                <div class="expectedSubtitle"></div><span>Expected Time</span>
                <div class="realSubtitle"></div><span>Real Time</span>
            </div>
            </section>
        </div> -->
        
        <script type="text/template" id="item-template">
          <div class="view">
            <label><%- title %></label>
            <a class="editTask">Edit</a>
            <input class="hidden" id="editInput" type="text" value="<%- title %>">
            <a class="hidden doneEditingTask">Done</a>
            <span>for <%- hoursExpected %> hours</span>
            <a class="editTime">Edit</a>
            <input class="hidden" name="range" id="editRange" type="range" name="hours" min="0" max="10" step="0.5" value="<% hoursExpected %>"/>
            <output class="hidden miniRangeOutput" for="hours"></output>
            <a class="hidden doneEditingTime">Done</a>
            
          </div>
        </script>
        

        <script type="text/template" id="item-template-2">
          <div class="view2">
            <span>I <span class="expectedTimeSpan">expected</span> to <label class="activity"><%- title %></label> for</span>
            <span class="expectedTime"><%- hoursExpected %> hours,</span>
            <span>but <span class="realTimeSpan">actually</span> did it for </span>
            
            <span class="hidden realTime"><%- hoursSpent %> hours</span>
            <input id="real-time" type="range" name="realHours" min="0" max="10" step="0.5"/>
            <output class="miniRangeOutput" for="realHours"></output>
            <a class="hidden editTask2">Edit</a>
            <a class="saveTime">Save</a>
            <a class="destroy">Remove</a>
          </div>
        </script>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
        <script src="js/do2day.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>